################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Line98/.vs/Line98/FileContentIndex
/Line98/obj
