################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Line98/.vs
/Line98/obj
/Line98/bin
/Line98/Line98.csproj.user
